version: '3'

services:
  web:
    image: ${DOCKER_USERNAME}/ticket-system:latest
    container_name: web
    restart: always
    env_file:
      - .env
    volumes:
      - static_volume:/app/static
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  static_volume:
